<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/">Home</a></h1>
    <br>
  	<h1><%= title %></h1>
    <ul>
      <li><a href="..">..</a></li>
      <% for(i=0; i < list.length; i++) { %>
      	<li><a href="<%= list[i] %>"><%= list[i] %></a></li>
      <% } %>
    </ul>
  </body>
</html>